<!DOCTYPE html>
<html>

<head>


    <title>
        <%= admin %>
    </title>
    <link href='https://unpkg.com/boxicons@2.1.0/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../fontawesome-free-5.15.4-web/css/all.css">
    <link rel='stylesheet' href='/stylesheets/styleFindPassword.css' />
</head>

<body>
    <Label class="lb_header_content">Lost password</Label>

    <div class="card_registration">

        <label for="">Username :</label>
        <input id="username" type="text" />
        <label for="">Phone :</label>
        <input id="phone" type="text" />
        <label for="">Password :</label>
        <input id="password" type="text" />
        <label>Repassword :</label>
        <input id="repw" type="text" />
        <div class="btn_registration">
            <button onclick="window.location.href='http://localhost:3000/'">Back</button>
            <button>Enter</button>
        </div>
    </div>
    <script src="/app.js"></script>
</body>

</html>