* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lb_header_content {
    font-size: 35px;
}

.card_registration {
    background: #2468;
    width: 450px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 140px;
    flex-wrap: wrap;
    padding: 30px;
}

.card_registration label {
    margin-left: 5px;
    font-size: 20px;
    padding: 10px;
}

.card_registration input {
    height: 25px;
    width: 250px;
    padding: 10px;
    margin-top: 30px;
}

.btn_registration {
    height: 40px;
    width: 240px;
    border-radius: 10px;
    display: flex;
    margin-left: 140px;
    margin-top: 50px;
    cursor: pointer;
}

.btn_registration button {
    height: 100%;
    width: 100%;
    font-weight: bold;
    margin: 20px;
    border-radius: 10px;
}